parameters:
    level: 9

    paths:
        - app/
        - tests/

    # https://phpstan.org/config-reference#vague-typehints
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Call to an undefined method Laravel\\Sanctum\\Contracts\\HasAbilities::delete\(\)#'
        - '#Parameter \#1 \$data of static method App\\Http\\Bag\\Api\\Bag::create\(\) expects array, mixed given#'
